<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825067190115-fsd80dasfvt1hb6pk9uhsodjt5ohsk85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825067190115-fsd80dasfvt1hb6pk9uhsodjt5ohsk85</string>
	<key>API_KEY</key>
	<string>AIzaSyBQwbUDRlcTpGtt6KSfBof9Fyi_wh6njvA</string>
	<key>GCM_SENDER_ID</key>
	<string>825067190115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GBC.G2-findevents</string>
	<key>PROJECT_ID</key>
	<string>g2-findevents</string>
	<key>STORAGE_BUCKET</key>
	<string>g2-findevents.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825067190115:ios:4e21cdfc58c7e98c70c556</string>
</dict>
</plist>